.body{
position: fixed;
overflow-y: scroll;
width: 100%;
top: -20px;
left: -20px;
right: -40px;
bottom: -40px;
width: auto;
height: auto;
background-image: url(MIGBa_Background.gif);
background-size: cover;
-webkit-filter: blur(0px);
}

.header{
position: absolute;
top: calc(50% - 35px);
left: calc(50% - 255px);

}

.header div{
float: center;
color: #000080;
font-family: 'Exo', sans-serif;
font-size: 40px;
font-weight: 200;
}

.header div span{
color: #F29E20 !important;
}

::-webkit-input-placeholder{
color: rgba(17,5,121,1);
}

::-moz-input-placeholder{
color: rgba(255,255,255,0.6);
}

table {
color: rgba(17,5,121,1);
}

h1 {
font-size: 4em;
color: rgba(17,5,121,1);
}
